---
import Layout from '../layouts/Layout.astro';
import Products from '../components/Products.astro'
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header/>
		<Products/>
	</main>
</Layout>

