---
import Layout from '../layouts/Layout.astro';
import Products from '../components/Products.astro'
import Header from '../components/Header.astro';
---

<Layout title="شكرا لكم">
	<main>
		<Header/>
		<Products/>
	</main>
	<script>
		// Track the purchase event
		if (typeof fbq !== 'undefined') {
		   fbq('track', 'Purchase');
		} else {
		   console.error('Facebook Pixel not loaded.');
		}
	 </script>
</Layout>

