---
import Layout from '../layouts/Layout.astro';
import Products from '../components/Products.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="font-black">Welcome to ouss store !!</h1>
		<Products/>
	</main>
</Layout>

