

<div class="flex  rounded-md  py-4 items-center justify-center gap-2 md:gap-20 bg-cyan-100">
    <div class="text-black font-bold text-xl md:text-3xl "> 0698626684 📞</div>
    <div class="text-black font-bold text-xl md:text-3xl "> 0663224341 📞</div>
</div>