---
const {href} = Astro.props
---
<a href={href} target="_blank" rel="noopener noreferrer">
    <button class="rounded-full border-2 mt-3 md:my-auto border-cyan-500 px-6 py-1 text-cyan-600 transition-colors hover:bg-cyan-500 hover:text-white">اتصل بنا</button>
</a>
  